*tmp*
*/*.zip
*.zip
sat/*tif
sat/*tfw
*__pycache__
GeoCELF2020/*
satellite/*
gbif/*
nets
tables
notebooks
slurm*
tutorials
scripts/*R
scripts/*jpeg
scripts/*png
scripts/*log
scripts/*pth
scripts/basura*
scripts/out*
scripts/trash*
backups
data
dbs
deepbiosphere.egg*
docs
*txt
*sh
dist
figs
*pdf
deepbiosphere/GLC
*swp
dbs_memex
scripts/
test.py
