*tmp*
*/*.zip
*.zip
*.png
*.svg
*.pdf
*.tif
*.pkl
sat/*tif
sat/*tfw
*__pycache__
GeoCELF2020/*
satellite/*
gbif/*
nets
tables
notebooks
slurm*
tutorials
scripts/*R
scripts/*jpeg
scripts/*png
scripts/*log
scripts/*pth
scripts/basura*
scripts/out*
scripts/trash*
backups
data
dbs
deepbiosphere.egg*
docs
*txt
*sh
.*
runs/
models/
caltech_models/
old_data/
old_runs/
dist
Azure_Scrape/
analyses/
build/
dbs39/
dbs_gis/
dbs_gis_redo/
original_moicode/
sanity_runs/
solving_runbug/
figs
*pdf
#deepbiosphere/GLC
*swp
dbs_memex
scripts/
test.py
.Rproj.user


# Whitelist the .devcontainer folder to follow devcontainer conventions
!.devcontainer/

# Whitelist vscode debugger configurations
!.vscode/